@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Playfair Display", serif;
  --font-display: "Space Grotesk", sans-serif;
  
  --color-ink: #050505;
  --color-electric: #4F46E5;
  --color-paper: #F5F5F7;
}

@layer base {
  body {
    @apply bg-ink text-paper selection:bg-electric selection:text-white overflow-x-hidden;
    font-family: var(--font-sans);
  }

  h1, h2, h3, h4 {
    @apply font-display tracking-tighter;
  }
}

.text-outline {
  -webkit-text-stroke: 1px var(--color-electric);
  color: transparent;
}

.glass {
  @apply bg-white/5 backdrop-blur-xl border border-white/10;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  @apply bg-ink;
}

::-webkit-scrollbar-thumb {
  @apply bg-electric/30 hover:bg-electric/60 transition-colors;
}
